.profile_info{
    display: flex;
    border: 1px solid;
    padding: 1em;
}

.profile_info > div{
    width: 15vw;
}

.ProfileStructure{
    margin: 4em;
    display: flex;
    border: 1px solid;
    padding: 1em;
    flex-direction: column;
    align-items: center;
}

.history{
    width: 50vw;
}
.space{
    margin: 1em;
    margin-top: 2.5em;
}
.active{
    margin: 0.5em;
    padding: 1em;
    background-color: lightseagreen;
    position: relative;
}

.historic_cancel{
    position: absolute;
    color: red;
    right: 0.5em;
}
.done{
    margin: 0.5em;
    padding: 1em;
    background-color: lightslategray;
}